
button {
  height: 33.5vh;
  width: 33%;
  justify-content: space-around;
  opacity: 0;
  background: no-repeat center transparent;
  border: solid 2px transparent;
  outline-style: none;
  cursor: url('./assets/cursor.png'), auto;
}
button:hover {opacity: 1}
button:active {
  opacity: .85;
}
button:focus {
  opacity: 1;
}
.custom {
  cursor: url(./assets/cursor.png);
}