
button {
  height: 25vh;
  width: 33%;
  justify-content: space-around;
  opacity: 0;
  background: no-repeat center transparent;
  border: solid 2px transparent;
  padding-bottom: 10%;
  padding-top: 10%;
  /* margin-top: 50px;   */
}
button:hover {opacity: 1}